@model AnimalVM

<div class="col-12 col-lg-3">
    <div class="card h-100">
        @if (@Model.ImageFileName != null)
        {
            <img class="card-img" src="~/img/animals/@Model.ImageFileName" style="" />
        }
        <div class="card-body">
            <h4 class="card-title">@Model.AnimalName</h4>
            <h5 class="card-subtitle">@Model.Race.RaceName</h5>
            <p class="card-text">@Model.Notes</p>
            <p class="text-black-75">Pris: DKK @Model.Price inkl.moms</p>
            <p class="text-black-50">Vaccineret: @Html.DisplayFor(model => Model.IsVaccinated)</p>
           
        </div>
        <div class="card-footer bg-primary-200">
            <a class="btn btn-success" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-animalid="@Model.AnimalId">Tilføj</a>
        </div>
    </div>
</div>