@using DyreInternatApp.ViewModels;

@model IEnumerable<AnimalVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Opret ny</a>
</p>
@if (Model != null && Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AnimalName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Race.Species.SpeciesName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Race.RaceName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsVaccinated)
                </th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AnimalName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Race.Species.SpeciesName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Race.RaceName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsVaccinated)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.AnimalId">Ændre</a> |
                        <a asp-action="Details" asp-route-id="@item.AnimalId">Detaljer</a> |
                        <a asp-action="Delete" asp-route-id="@item.AnimalId">Slet</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


}
