@model IEnumerable<AnimalVM>

@{
    ViewData["Title"] = "Vores Dyr";
}

<h1>Vores Dyr</h1>
<hr />

@if (Model != null && Model.Count() > 0)
{
   <div class="container">

       <div class="row row-cols-lg-3">

           @foreach (var animal in @Model) {
                <div class="col">
                    <div class="card">
                        @if (@animal.ImageFileName != null)
                        {
                            <img class="card-img" src="~/img/animals/@animal.ImageFileName" />
                        }
                       <div class="card-body">
                       <h4 class="card-title">@animal.AnimalName</h4>
                       <h5 class="card-subtitle">@animal.Race.RaceName</h5>
                       <p class="card-text">@animal.Notes</p>
                       <p class="text-black-50">Pris:  DKK @animal.Price inkl.moms</p>
                       <p class="card-text text-secondary">Vaccineret: @Html.DisplayFor(model => animal.IsVaccinated)</p>
                       <a class="btn btn-success" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-animalid="@animal.AnimalId">+ Tilføj</a>
                      
                   </div>
               </div>
           </div>

           }
       </div>
   </div>


}
else
{
    <h4 class="text-warning">Vi har p.t. ikke nogen dyr der mangler et hjem! - Kig tilbage på et senere tidspunkt.</h4>
}