@model IEnumerable<AnimalVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


@if (Model != null && Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AnimalName)
                </th
               <th>
                    @Html.DisplayNameFor(model => model.Notes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsVaccinated)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AnimalName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Notes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsVaccinated)
                    </td>

                    
                </tr>
            }
        </tbody>
    </table>


}
else
{
    <h4 class="text-warning">Vi har p.t. ikke nogen dyr der mangler et hjem! - Kig tilbage på et senere tidspunkt.</h4>
}